* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(70, 71, 79, 0.2);
}

.flex-row-a {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.flex {
  display: flex;
}

.flex-row-center {
  display: flex;
  align-items: center;

}


.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-col-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-row-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.mg-r-12 {
  margin-right: 12px;
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important
}